    /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .input{
    display: flex;
    justify-content: space-evenly;
  }